*{/*{ Reset margin and padding to zero*/
	margin:0;
	padding:0;
}


/*First Section Styles start here*/
header{
	padding:40px 50px;
	height:599px;
	background-image: url(../images/bg-hero-desktop.svg);
	background-size:cover;
	background-repeat:;
}

.logo img{
	width:13vw;
	height:auto;
}

.try-btn {
	float:right;
}

.try-btn a{
	float:right;
	padding:8px 30px;
	text-decoration:none;
	font-size:1.4vw;
	color:#000;
	background-color: #fff;
	border-radius:20px;
	box-shadow: 0px 3px 10px 1px #e0e0e0;
}

.showcase-1{
	margin: 60px 0px 0px 0px;
}

.container-one, .container-two{
	float:left;
	width:50%;
}

.container-one{
	margin:100px 0;
}
.container-one h2{
	font-size:2.8vw;
	line-height:1.3em;
}

.container-one p{
	font-size:1.6vw;
	line-height:1.3em;
	margin:30px 0px;
}

.get-started-btn a{
	padding:15px 40px;
	text-decoration:none;
	font-size:1.3vw;
	color:#fff;
	background-color: #FE52C0;
	border-radius:30px;
}

.container-two img{
	width:100%;
	height:auto;
}
/*First section styles end here*/



/*Second section styles start here*/
.mid-section{
	margin:100px 0px 0px 0px;
	clear:both;
}

.card-container{
	padding:50px 20px 50px 80px;
	margin:40px auto;
	box-sizing:border-box;
	width:85%;
	height:380px;
	border-radius:10px;
	box-shadow:0px 0px 10px 1px #e0e0e0;
}

.sub-heading{
	font-weight:bold;
	font-size:2.3vw;
}

.card-description{
	font-size:1.8vw;
	color:grey;
	line-height:1.2em;
}

.card-text,.card-image{
	float:left;
	
}
.card-text{
	width:60%;
	margin:85px 0px;
}

.card-image{
	width:35%;
	float:right;
}
.card-image img{
	padding:0px;
	width:100%;
	height:auto;
}

.left{float:left!important;}.right{float:right!important;} /*Applied To the third card-container*/

.mini-container{
	background:white;
	width:50%;
	padding:15px 0px;
	box-sizing:border-box;
	margin:0 auto;
	text-align:center;
	border-radius:10px;
	box-shadow:0px 0px 10px 1px #e0e0e0;
	position:relative;
	top:80px;
}

.large a{
	font-size: 1.6vw;
	box-shadow: 0px 3px 10px 1px #bdbdbd;
}

footer{
	background:#00252E;
	height:500px;
}

.mini-container p,.large{
	margin:40px 0px 50px 0px;
}

.foot-container{
	width:85%;
	margin:0 auto;
	padding:150px 0px 30px 0px;
	position:relative;
}

























.foot-container small{
	position:absolute;
	right:0;
	bottom:0;
	font-size:.7vw;
	color:#fff;
}




































